@import "property";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 0.75rem;
    background: linear-gradient($Soft_violet,$Soft_blue);
}
.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem;
    position: relative;
    .konten {
        max-width: 57.5rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        padding-bottom: 3rem;
        border-radius: 1.25rem;
        margin-bottom: 3.125rem;
        margin-top: 3.125rem;
        .konten_gambar {
                display: flex;
                justify-content: center;
                position: relative;
                overflow: visible;
                background-image: url("../images/bg-pattern-mobile.svg");
                background-repeat: no-repeat;
                background-position: center;
                background-position-y: 0;
                padding-top: 8.375rem;
                .mobile {
                    display: block;
                    position: absolute;
                    margin-right: 1.75rem;
                    top: -6.75rem;
                }
                .dekstop {
                    display: none;
                }
                
        }
        .konten_faq {
            position: relative;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            padding: 0 1.5rem;
            h1 {
                text-align: center;
            }
            .konten_isi_faq {
                overflow: hidden;
                background-color: white;
                z-index: 1;
                border-bottom: 1px solid $Light_grayish_blue;
                padding: 1rem 0 0 0;
                
                .header {
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    .icon_aktif {
                        transform: rotate(180deg)
                    }
                    img {
                        margin-left: auto;
                        max-width: 10px;
                        max-height: 7px;
                        transition: 0.3s all ease;
                    }
                    .a_aktif {
                        font-weight: 700;
                    }
                    a {  
                        font-size: 0.8125rem;
                        text-decoration: none;
                        color: $Very_dark_grayish_blue;
                    }
                    a:hover {
                        color: $Soft_red;
                    }
                }
                .isi_aktif {
                    max-height: 200px;
                    padding-bottom: 1rem;
                    visibility: visible;
                }
                .isi_diaktif {
                    max-height: 0px;
                    visibility: hidden;
                }
                p { 
                    max-height: 0px;
                    z-index: 0;
                    font-size: 12px;
                    margin-right: 2rem;
                    margin-top: 0.75rem;
                    color: $Dark_grayish_blue;
                    transition: 0.3s all ease;
                }
    
            }
        }

    }
}

@media screen and (min-width: 62.5rem) {
    .container {
        .konten {
            grid-template-columns: 1fr 1fr;
            display: grid;
            padding-bottom: 0;
            margin: 0;
            .konten_gambar {
                overflow: hidden;
                padding-top: 0;
                align-items: center;
                background-image: url("../images/bg-pattern-desktop.svg");
                background-position: center;
                background-position-x: -100px;
                background-size: cover;
                .mobile {
                    display: none;
                }
                .dekstop {
                    position: absolute;
                    left: -65px;
                    width: 90%;
                    display: flex;
                    justify-self: center;
                }
            }
            .konten_faq {
                padding-bottom: 3rem;
            }
        }
    }

}
